// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$btn-text-transform: none;
$btn-letter-spacing: 0 !default;
$tabs-item-letter-spacing: 0 !default;
$body-font-family: 'DM Sans', serif;